<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>234395854235-47d66apu0tlmn5ovkavjb59colhrs3rt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234395854235-47d66apu0tlmn5ovkavjb59colhrs3rt</string>
	<key>API_KEY</key>
	<string>AIzaSyCgQw-KfESqDTS2qFbbWjAHnxZKXwwcKxo</string>
	<key>GCM_SENDER_ID</key>
	<string>234395854235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amany.ecommerceAppGsg</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-app-gsg</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-app-gsg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234395854235:ios:ee07bc24d32ac4af53ad3e</string>
</dict>
</plist>